<!-- Display Name: {{hero}} -->
<div class="loginpanel">
  <form (submit)="onLogIn($event)">
    <!-- <p> Username: <input type="text" name="userrname"/></p>
    <p> Password: <input type="password" name="password"/></p>
    <p><button>Log In</button>&nbsp;<button>Clear</button></p> -->

    <div class="input">
      <label>Username</label>
      <input type="text" value="mespiritu@you-source.com">
    </div>
    <div class="input">
      <label>Password</label>
      <input type="password"value="yousource">
    </div>
    <div class="input">
      <input type="submit" value="Login">
    </div>
    
  </form>
</div>

